<!DOCTYPE html>
<html>
<head>
    <title>Administrador de Tickets</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Gestión de Tickets - Administrador</h1>
    <form action="{{ url_for('create_ticket') }}" method="POST">
        <button type="submit">Crear Nuevo Ticket</button>
    </form>
        
    <ul>
        {% for ticket in tickets %}
            <li>
                Ticket ID: {{ ticket.id }} - Estatus: {{ ticket.estatus }}
                <ul>
                    <li>Stand 1: {{ ticket.stand_1 }}</li>
                    <li>Stand 2: {{ ticket.stand_2 }}</li>
                    <li>Stand 3: {{ ticket.stand_3 }}</li>
                    <li>Fecha Creación: {{ ticket.date_created }}</li>
                </ul>
                {% if ticket.estatus != 'cerrado' %}
                    <a href="{{ url_for('close_ticket', ticket_id=ticket.id) }}">Cerrar Ticket</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('ticket_update', function(data) {
            console.log('Evento ticket_update recibido:', data);
            location.reload();
        });
    </script>
</body>
</html>
