<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expositor 3</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('connect', function() {
                console.log('Conectado a SocketIO en expositor 3');
            });

            // Escucha el evento 'ticket_update' y recarga la página cuando se reciba un evento
            socket.on('ticket_update', function(data) {
                console.log('Evento recibido en expositor 3:', data);
                location.reload();  // Recargar la página para actualizar la lista de tickets
            });
        });
    </script>
</head>
<body>
    <h1>Expositor 3 - Tickets Pendientes</h1>
    <ul>
        {% for ticket in tickets %}
        <li>
            Ticket ID: {{ ticket.id }} - Estatus: {{ ticket.stand_3 }}
            {% if ticket.stand_3 == 'pendiente' %}
            <form action="{{ url_for('call_ticket', stand_number=3, ticket_id=ticket.id) }}" method="POST">
                <button type="submit">Llamar Ticket</button>
            </form>
            {% elif ticket.stand_3 == 'en proceso' %}
            <form action="{{ url_for('close_expositor_ticket', stand_number=3, ticket_id=ticket.id) }}" method="POST">
                <button type="submit">Cerrar Ticket</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
